* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  margin-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-bottom: 90px;
  }
}

.header {
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .header {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}

.header__wrap {
  background-color: #FFFFFF;
  padding: 0 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media screen and (max-width: 1199px) {
  .header__wrap .header__logo {
    margin-right: 88px;
  }
  .header__wrap .menu {
    margin-right: 84px;
  }
  .header__wrap .contacts__item {
    margin-bottom: 10px;
  }
}

.header__nav .menu__link {
  position: relative;
}

.header__nav .menu__link.current:after {
  content: '';
  height: 4px;
  width: 100%;
  background-image: url(../../images/hover.svg);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  border-radius: 2px;
}

.header__nav .menu__item:hover .menu__link,
.header__nav .menu__item:focus .menu__link {
  color: #2196F3;
}

.header__nav .menu__link.current:visited {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wrap .header__logo {
    padding: 26px 0;
  }
  .button-menu {
    display: none;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav .menu__item {
    margin-right: 50px;
  }
  .header__nav .menu__item .menu__link {
    display: block;
    padding: 32px 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .header__nav .menu__item:last-child {
    margin-right: 0;
  }
  .header__nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts__item:hover .contacts__link,
  .contacts__item:focus .contacts__link {
    color: #2196F3;
  }
  .contacts__item:hover .contacts__icon,
  .contacts__item:focus .contacts__icon {
    fill: #2196F3;
  }
  .contacts__item .contacts__link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__item .contacts__icon {
    margin-right: 8px;
    fill: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacts__item {
    margin-right: 30px;
  }
  .contacts__item:last-child {
    margin-right: 0;
  }
  .menu {
    margin-right: 305px;
  }
}

.header__logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #212121;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px 0;
}

.header__logo .header__logo--color {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .mobile-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button-menu:active .mobile-menu {
    fill: #2196F3;
  }
  .button-menu {
    width: 40px;
    height: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
    border: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
  }
  .button-menu .icon-cross {
    display: none;
  }
  .button-menu.is-open .icon-cross {
    display: block;
  }
  .button-menu.is-open .icon-menu {
    display: none;
  }
  .header__nav {
    display: none;
    text-align: center;
  }
  .header__nav.is-open {
    display: block;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .header__nav .menu {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .header__nav .menu .menu__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .header__nav .contacts .contacts__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .header__nav .contacts .contacts__icon {
    width: 20px;
    height: 20px;
    fill: #757575;
    margin-right: 5px;
  }
}

.hero__container {
  padding: 118px 0 118px 0;
  background-color: #C4C4C4;
  margin-bottom: 60px;
  background-image: url(../../images/Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container .hero__container {
    background-image: url(../../images/Header@2x.jpg);
  }
}

@media screen and (min-width: 450px) {
  .hero__container {
    background-image: url(../../images/Header2.jpg);
  }
}

@media screen and (min-width: 450px) and (min-device-pixel-ratio: 2), screen and (min-width: 450px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 450px) and (min-resolution: 192dpi), screen and (min-width: 450px) and (min-resolution: 2dppx) {
  .hero__container .hero__container {
    background-image: url(../../images/Header2@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    background-image: url(../../images/heder3.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container .hero__container {
    background-image: url(../../images/heder3@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    margin-bottom: 94px;
  }
}

.hero__container .hero__title {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  /* or 162% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__container .hero__button {
  padding: 10px 32px;
  display: block;
  margin: 0 auto;
  background-color: #2196F3;
  border: none;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
}

.about-list .title {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about-list .description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.about-list .icon {
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #F5F4FA;
}

.about-list .icon.one {
  background-image: url(../../images/antenna.svg);
}

.about-list .icon.two {
  background-image: url(../../images/clock.svg);
}

.about-list .icon.three {
  background-image: url(../../images/diagram.svg);
}

.about-list .icon.four {
  background-image: url(../../images/astronaut.svg);
}

@media screen and (min-width: 768px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: -15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-list .item {
    width: calc((91%-1*30px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list .item {
    width: calc((90%-3*30px)/4);
  }
}

@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .our-work {
    display: block;
    text-align: center;
  }
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work-list .item {
    margin-right: 30px;
  }
  .work-list .item img {
    display: block;
  }
  .work-list .item .link {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .work-list .item .link .title {
    width: 100%;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
  }
  .work-list .item .link:hover .title {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .work-list .item:last-child {
    margin-right: 0;
  }
  .title-center {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.our-team .title-center {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.team {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px -15px;
}

.team .item {
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
  margin-bottom: 30px;
}

.team .item .title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team .item .description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team .item {
    width: calc((92%-1*30px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team .item {
    width: calc((90%-3*30px)/4);
  }
}

.list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-icon .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
}

.list-icon .icon:hover, .list-icon .icon:focus {
  background-color: #2196F3;
  border-radius: 50%;
  fill: #FFFFFF;
}

.list-icon .icon:last-child {
  margin-right: 0;
}

.title-clients {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -15px;
  margin-bottom: -15px;
}

.clients .item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #AFB1B8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  width: 40%;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients .item {
    width: calc((116%-3*30px)/4);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .clients .item {
    width: calc((98%-2*30px)/7);
    margin: 15px;
  }
}

.clients .item:hover, .clients .item:focus {
  border: 1px solid #2196F3;
}

.clients .item .icon-clients {
  fill: #AFB1B8;
}

.clients .item:hover .icon-clients {
  fill: #2196F3;
}

.adress {
  background-color: #2F303A;
  text-align: center;
  padding: 60px 15px;
}

@media screen and (min-width: 768px) {
  .adress .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .adress .footer-tablet {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 20px;
}

.logo-footer .logo-web {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .contact-footer {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-footer {
    margin-right: 70px;
  }
}

.contact-footer .item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.contact-footer .item:last-child {
  margin-bottom: 0;
}

.contact-footer .link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.list-social .footer-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #FFFFFF;
}

.list-social .footer-icon:hover, .list-social .footer-icon:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.list-social .icon:last-child {
  margin-right: 0;
}

.form-mail .follow-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.wrap-follow .lable-mail {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

@media screen and (min-width: 450px) {
  .wrap-follow .lable-mail {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .wrap-follow .lable-mail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrap-follow .mail-anime {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.wrap-follow .input-mail:focus ~ .mail-anime,
.wrap-follow .input-mail:not(:placeholder-shown) ~ .mail-anime {
  -webkit-transform: translateY(-210%);
          transform: translateY(-210%);
}

.wrap-follow .input-mail {
  width: 100%;
  outline: none;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .wrap-follow .input-mail {
    width: 450px;
  }
}

.wrap-follow .button-follow {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  margin: 0 auto;
}

.wrap-follow .button-follow:after {
  content: '';
  background-image: url(../../images/icon_send.svg);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.modal__wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__wrap.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__wrap.is-hidden .modal__container {
  -webkit-transform: translate(-50%, 0) scale(1.1);
          transform: translate(-50%, 0) scale(1.1);
}

.modal__container {
  padding: 40px;
  background-color: #FFFFFF;
  position: absolute;
  top: 221px;
  left: 50%;
  -webkit-transform: translate(-50%, 0) scale(1);
          transform: translate(-50%, 0) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__container .modal__close {
  position: absolute;
  background-position: center;
  background-image: url(../../images/Vector.svg);
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  right: 8px;
  top: 8px;
}

@media screen and (min-width: 480px) {
  .modal__container .modal__form {
    width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .modal__container .modal__form {
    width: 448px;
  }
}

.modal__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* form open */
::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}
:-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}
::-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}
::placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__comment {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input:not(.input[type='checkbox']),
.form__comment {
  padding: 11px 12px 11px 42px;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.input:focus:not(.input[type='checkbox']),
.form__comment:focus {
  outline: none;
  border: 1px solid #2196F3;
}

input[type='checkbox'] {
  opacity: 0;
}

.form__lable {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field {
  text-align: left;
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.form__field:nth-child(5) {
  margin-bottom: 0;
}

.form__icon {
  position: absolute;
  display: inline-block;
  left: 12px;
  top: 50%;
}

.form__policy {
  margin-top: 20px;
  margin-bottom: 30px;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox {
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.check a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.form__button {
  text-align: center;
}

.form__button button {
  cursor: pointer;
  padding: 10px 56px;
  background: #2196F3;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.input:focus-within ~ .form__icon {
  fill: #2196F3;
}

.input:checked ~ .checkbox {
  fill: #2196F3;
  background-color: #2196F3;
  border: 2px solid #2196F3;
  width: 16px;
  height: 15px;
  border-radius: 2px;
}

.section-work {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section-work {
    margin-top: 94px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter .item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter .item .button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  padding: 6px 22px;
  background-color: #F5F4FA;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #212121;
  -webkit-transition: color 250ms linear, background 250ms linear;
  transition: color 250ms linear, background 250ms linear;
}

.filter .item .button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  outline: none;
}

@media screen and (min-width: 450px) {
  .filter-wrap {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .filter-wrap {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-wrap {
    width: 1200px;
  }
}

.work-filter {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-filter .link {
  display: block;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .work-filter .link {
    width: calc((91%-1*30px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .work-filter .link {
    width: calc((92%-2*30px)/3);
    margin: 15px;
  }
}

.work-filter .link:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  text-align: center;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
}

.work-overlay {
  overflow: hidden;
  position: relative;
}

.work-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  color: #FFFFFF;
}

.work-app {
  padding: 20px 24px;
}

.work-app .title {
  margin-bottom: 4px;
}
/*# sourceMappingURL=main.css.map */