.section-work{
    margin-top:60px;
    
    @media screen and(min-width:1200px){
        margin-top:94px;
    }
}

.filter{
    display: flex;
    flex-wrap: wrap;

    @media screen and(min-width:768px) {
            justify-content: center;
    }



    .item{
        margin-right: 8px;
        margin-bottom: 15px;

        .button{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 162%;         
            text-align: center;
            letter-spacing: 0.03em;
            border:1px solid transparent;
            padding: 6px 22px;
            background-color: $bgPeculiar;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            color:$colorMain ;
            transition: color 250ms linear, background 250ms linear;
        }

        .button:hover{
            background-color:$colorAncient ;
            color: $colorWhite;
        }
    }
}