/* form open */

::placeholder {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color:$colorSecond;
}

.form__comment {
    resize: none;
    padding: 12px 16px;
    height: 120px;
    width: 100%;
    box-sizing: border-box;
}

.input:not(.input[type='checkbox']),
.form__comment {
    padding: 11px 12px 11px 42px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.input:focus:not(.input[type='checkbox']),
.form__comment:focus {
    outline: none;
    border: 1px solid $colorAncient;
}

input[type='checkbox'] {
    opacity: 0;

}

.form__lable {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: $colorSecond;

}

.form__field {
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;

    &:nth-child(5) {
            margin-bottom: 0;
        }
}


.form__icon {
    position: absolute;
    display: inline-block;
    left: 12px;
    top: 50%;
}

.form__policy {
    margin-top: 20px;
    margin-bottom: 30px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.03em;
    color:$colorSecond;
}

.checkbox {
    margin-right: 7px;
    border: 2px solid $colorMain;
    border-radius: 2px;
}

.check a {
    text-decoration-line: underline;
    color: $colorAncient;
}

.form__button {
    text-align: center;
}

.form__button button {
    cursor: pointer;
    padding: 10px 56px;
    background: $colorAncient;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    /* identical to box height, or 188% */
    letter-spacing: 0.06em;
    color: $colorWhite;
}

.input:focus-within~.form__icon {
    fill: $colorAncient;
}

.input:checked~.checkbox {
    fill: $colorAncient;
    background-color: $colorAncient;
    border: 2px solid $colorAncient;
    width: 16px;
    height: 15px;
    border-radius: 2px;
}