  
 .header{
    margin: 0 auto;
   

 @media screen and(min-width:480px) {
     width: 480px;
 }

 @media screen and(min-width:768px) {
     width: 768px;
 }

 @media screen and(min-width:1200px) {
     width: 1200px;
 }
}

.header__wrap {
      
        background-color: $colorWhite;
        padding: 0 15px;
        justify-content: center;
        position: relative;

        @media screen and(max-width:1199px) {
            

            .header__logo{
                margin-right: 88px;
            }
            .menu{
                margin-right: 84px;
            }
            .contacts__item{
                margin-bottom: 10px;
            }
        }
       
 }

 .header__nav{
    
    .menu__link{
        position: relative;
    }
    
    .menu__link.current:after{
        content: '';
        height: 4px;
        width: 100%;
        background-image:url(../../images/hover.svg);
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        left: 0;
        position: absolute;
        border-radius: 2px;
    }

     .menu__item:hover .menu__link,
     .menu__item:focus .menu__link
    {
         color: $colorAncient;
     }
     .menu__link.current:visited{
         color: $colorAncient;
    }

 }
    
    @media screen and (min-width:768px){
        .header__wrap {
            display: flex;
            align-items: center;

          .header__logo{
            padding:26px 0;
            
           }
        }

        .button-menu{
            display: none;
        }

        .header__nav {
            display: flex;
            align-items: center;

            .menu__item{
                margin-right: 50px;
                
              .menu__link{
                    display: block;
                    padding: 32px 0;
                    font-family: 'Roboto';
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.02em;
                    color:$colorMain ;
                }
            }
            .menu__item:last-child{
                margin-right: 0;
            }
        
         .menu {
            display: flex;
          }
        }

      .contacts__item{

        &:hover .contacts__link,
        &:focus .contacts__link{
            color: $colorAncient;
        }

        &:hover .contacts__icon,
        &:focus .contacts__icon {
            fill: $colorAncient;
        }

        .contacts__link{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color:$colorSecond;
        display: flex;
        align-items: center;

        }
        .contacts__icon{
            margin-right: 8px;
            fill: $colorSecond;
        }
      }
    }
    @media screen and(min-width:1200px) {
        
        .header__logo {
            margin-right: 93px;
        }
        .contacts{
            display: flex;
        }

        .contacts__item {
            margin-right: 30px;      
        }
        .contacts__item:last-child {
            margin-right:0;
        }
        .menu{
            margin-right: 305px;
        }
    }
   
  
  

.header__logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $colorMain;
    display: inline-flex;
    padding: 16px 0;

    .header__logo--color{
        color: $colorAncient;
    }
}


   @media screen and(max-width:767px) {

    .mobile-nav {
            justify-content: space-between;
            display: flex;
            margin: 0 auto;
            align-items: center;
        }

                .button-menu:active .mobile-menu {
                    fill: $colorAncient ;
                    outline: none;
                }
   
        .button-menu {
            width: 40px;
            height: 40px;
            display: inline-flex;
            cursor: pointer;
            border: none;
            align-items: center;
            justify-content: center;
            background-color: transparent;

            
                .icon-cross{
                    display: none;
                }

                &.is-open .icon-cross{
                    display: block;
                    
                }
                &.is-open .icon-menu {
                    display: none;
                } 
                      
        }
    .header__nav{
        display: none;
        text-align: center;
        
        &.is-open{
            display: block;
            position: absolute;
            background-color: white;
            top: 100%;
            left: 0;
            width: 100%;
        }

        .menu{
            margin: 0 auto;
            margin-bottom: 20px;
            .menu__link{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 47px;
                text-align: center;
                letter-spacing: 0.02em;
                color:$colorMain;
            }
        }
        .contacts{
            .contacts__link{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.02em;
                color:$colorSecond ;
            }
            .contacts__icon{
                width: 20px;
                height: 20px;
                fill:$colorSecond;
                margin-right: 5px;
            }
        }
    }
       

 }


