.our-team{

        .title-center{
        text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.03em;
        color: $colorMain;
        margin-bottom: 30px;
    }
}

.team{
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    margin: -15px -15px;

    .item{
        text-align:center;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 24px;
        margin-bottom: 30px;
        
        .title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;        
            text-align: center;
            letter-spacing: 0.03em;
            color: $colorMain;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        .description{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.03em;
            color: $colorSecond;
            margin-bottom: 16px;
        }
    }
}

@media screen and(min-width:768px){
    .team{
        display: flex;
        flex-wrap: wrap;

        .item{
            width:calc((92%-1*30px)/2);
            margin: 15px;
        }
    }
}

@media screen and(min-width:1200px) {
    .team{
        .item {
                width: calc((90%-3*30px)/4);
            }
    }
}

.list-icon{
    display: flex;
    justify-content: center;

    .icon{
        display: inline-flex;
        margin-right: 10px;
        justify-content: center;
        width: 44px;
        height: 44px;
        align-items: center;
        fill:$fillIcon;

        &:hover,
        &:focus{
          background-color: $colorAncient;
          border-radius: 50%;
          fill:$colorWhite;
        }
    }
    .icon:last-child{
        margin-right: 0;
    }
}