$colorMain:#212121;
$colorAncient:#2196F3;
$colorWhite:#FFFFFF;
$colorSecond:#757575;
$bgHero:#C4C4C4;
$bgOverlayHero:rgba(47, 48, 58, 0.4);
$fillIcon:#AFB1B8;
$bgFooter:#2F303A;
$bgIconFooter: rgba(255, 255, 255, 0.1);
$bgPeculiar:#F5F4FA;

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
    margin: 0 auto;
}


 .container{
        margin: 0 auto;
        margin-bottom: 60px;
        padding-left: 15px;
        padding-right: 15px;

     @media screen and(min-width:480px) {
         width: 480px;
     }

     @media screen and(min-width:768px) {
         width: 768px;
     }

     @media screen and(min-width:1200px) {
         width: 1200px;
        margin-bottom: 90px;
     }
 }
